body {
  font-family: Arial;
  background: #1d2671;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box {
  background: white;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  width: 300px;
}

input, button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}
